# -----------------------------------------------------------
# General
# -----------------------------------------------------------
.ant_targets
.DS_Store
.metadata
.svn
build/
/artifacts/
/tmp/

# -----------------------------------------------------------

# -----------------------------------------------------------
# IDEA
# -----------------------------------------------------------
.idea
workspace.xml


# -----------------------------------------------------------
# MPS
# -----------------------------------------------------------
classes_gen
source_gen
source_gen.caches
test_gen
test_gen.caches
*.iws

